<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eindhoven Airport - find airplanes!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/aviademo.css">
    <script src="/js/aviademo.js"></script>
</head>

<body>

<div class="wrapper" ng-app="aviademoApp">
<div class="container">
    <div class="row">
    <!-- 
        flightCarousel 
        Probably possible without jquery but I do not care right now, this is a simple demo
    -->
    <div id="flightCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="7000">
    <!-- 
        Indicators - commented out, I don't need 'em 
    -->
    <!-- ol class="carousel-indicators">
        <li data-target="#flightCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#flightCarousel" data-slide-to="1"></li>            
        <li data-target="#flightCarousel" data-slide-to="2"></li>    
        <li data-target="#flightCarousel" data-slide-to="3"></li>            
        <li data-target="#flightCarousel" data-slide-to="4"></li>            
    </ol -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/img/carousel/IMG_7599_800.jpg" alt="Airport" class="img-responsive">
        <div class="carousel-caption">
            <h1 class="shadow">Eindhoven Airport</h1>
        </div>
      </div>

    <div class="item">
        <img src="/img/carousel/IMG_7600_800.jpg" alt="Airport" class="img-responsive">
        <div class="carousel-caption">
            <h1 class="shadow">Eindhoven Airport</h1>
        </div>
    </div>
    
    <div class="item">
        <img src="/img/carousel/IMG_7613_800.jpg" alt="Airport" class="img-responsive">
        <div class="carousel-caption">
            <h1 class="shadow">Eindhoven Airport</h1>
        </div>
    </div>

    <div class="item">
        <img src="/img/carousel/IMG_7616_800.jpg" alt="Airport" class="img-responsive">
        <div class="carousel-caption">
            <h1 class="shadow">Eindhoven Airport</h1>
        </div>
    </div>

    <div class="item">
        <img src="/img/carousel/IMG_7619_800.jpg" alt="Airport" class="img-responsive">
        <div class="carousel-caption">
            <h1 class="shadow">Eindhoven Airport</h1>
        </div>
    </div>


    <!-- 
        Left and right controls - commented out, I don't need 'em
    -->
    <!-- a class="left carousel-control" href="#flightCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#flightCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a -->
    </div>
    </div> <!-- End flightCarousel -->
</div>
    
    <!-- Form for picking the time -->
    <div class="row">
        <br>
        Pick your photo spotting time TODAY and see which airplanes you can watch!
        <br>
        <div ng-controller="timeNow">
            Current time is: <span my-current-time="format"> </span>
        </div>
        <br>
    </div>

    <!-- form name="timeForm" class="form-inline" novalidate -->
    <form name="timeForm" class="form-inline">
        <div class="row">        
            <div class="col-sm-2"><b>start time</b></div>    
            <div class="form-group" ng-class="{ 'has-error': timeForm.startTime.$dirty && timeForm.startTime.$invalid }">
                <input type="text" class="form-control col-xs-2" required
                    id="startTime" 
                    name="startTime" 
                    placeholder="hh:mm" 
                    ng-controller="timeError"
                    ng-model="startTime"
                    ng-pattern="/^(\d{2}):(\d{2})$/"
                >
            </div>
            <span class="leftdist" ng-messages="timeForm.startTime.$error"  ng-if="timeForm.startTime.$dirty">
                <span ng-message="pattern">Start time should be hh:mm format</span>
                <span ng-message="required">Start time is required</span>
            </span>
        </div>
        <div class="row">        
            <div class="col-sm-2"><b>end time</b></div>
            <div class="form-group" ng-class="{ 'has-error': timeForm.endTime.$dirty && timeForm.endTime.$invalid }">
                <input type="text" class="form-control col-xs-2" required
                    id="endTime" 
                    name="endTime" 
                    placeholder="hh:mm"
                    ng-controller="timeError"
                    ng-model="endTime"
                    ng-pattern="/^(\d{2}):(\d{2})$/"
                >
            </div>
            <span class="leftdist" ng-messages="timeForm.endTime.$error" ng-if="timeForm.endTime.$dirty">
                <span ng-message="pattern">End time should be hh:mm format</span>
                <span ng-message="required">End time is required</span>
            </span>                
        </div>       
        <br>
        <!-- /div -->
        <div class="row">
            <button type="submit" 
                    class="btn btn-primary"
                    ng-disabled="timeForm.startTime.$invalid || timeForm.endTime.$invalid"
                    >Find airplanes!</button>
        </div>   
    </form>
    
</div> <!-- end Container -->
</div> <!-- end Wrapper -->


</body>
</html>
